//v2 100822 - стили дефолтной кнопки
//v3 190822 актуализация
//v4 120922 new MD
//v5 011222 new logic

//BUTTONS
//Снипет (HTML): bbtn - button button


.btn {
	position: relative;
	display: inline-flex;
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	width: fit-content;
	@include adaptiveValue("height", $button-height-pc, $button-height-mob, 0, 1200, 320);
	@include adaptiveValue("font-size", $font-size-btn-pc, $font-size-btn-mob, 0, 1200, 320);
	color: $text-color-btn;
	border: $button-border-width solid rgba($color: $border-color-button, $alpha: 1);
	border-radius: $button-border-radius;
	column-gap: rem(10);
	overflow: hidden;
	cursor: pointer;
	&__button {
		white-space: nowrap;
		line-height: 1;
	}
}


// ripple effect, js in common.js
.btn {
	& span.ripple {
		position: absolute;
		background: $background-color-major;
		pointer-events: none;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		animation: ripplesAnimate .5s linear;
	}
}

//-------------------custom buttons properties-------------------

.btn {
	padding: rem(0) rem(10);
	background-color:  $background-color-button-major;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: background-color .2s ease, border .2s ease, color .2s ease;
		@media (any-hover: hover){
		&:hover{
			background-color: $background-color-button-active;
			border: 1px solid rgba($color: rgb(40, 40, 40), $alpha: .1);
			animation: none;
			transition: background-color .2s ease, border .2s ease, color .2s ease;
		}
	}
	&__button{
		font-weight: 600;
		text-transform: uppercase;
	}
}


.swiper-button-disabled {
	opacity: .3;
	pointer-events: none;
	filter: grayscale(1);
}
