//v2 100822 - стили дефолтной кнопки
//v3 190822 актуализация
//v4 120922 new MD


//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	position: relative;
	display: inline-flex;
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	align-self: center;
	margin: 0 auto;
	border-radius: $button-border-radius;
	border: $button-border-width solid rgba($color: $border-color-button, $alpha: 1);
	@include adaptiveValue("font-size", $font-size-btn-pc, $font-size-btn-mob, 0, 1200);
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	& span {
		display: block;
		margin: auto;
		
	}
}

//-------------------custom buttons properties-------------------

.swiper-button-disabled {
	opacity: .3;
	pointer-events: none;
}

.btn {
	width: auto;
	@include adaptiveValue("height", $button-height-pc, $button-height-mob, 0, 1200);
	height: 100%;
	padding: rem(0) rem(10);
	font-weight: 600;
	text-transform: uppercase;
	color: $text-color-btn;
	background-color:  $background-color-button-major;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: background-color .3s ease, border .3s ease, color .3s ease;
	@media (any-hover: hover){
		&:hover{
			background-color: $background-color-button-active;
			border: 1px solid rgba($color: rgb(40, 40, 40), $alpha: .1);
			animation: none;
			transition: background-color .3s ease, border .3s ease, color .3s ease;
		}
	}

	@media (max-width:em($mobileSmall)){
		//width: 80%;
	}


	// ripple effect, js in common.js
	& span.ripple {
		position: absolute;
		background: $background-color-major;
		pointer-events: none;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		animation: ripplesAnimate .5s linear;
	}
}
