//v1 170222 - стили дефолт
//v2 260622 - стили дефолт
//v3 190822 - стили дефолт

// ------------------------------------ стили типовых СЕКЦИЙ --------------------------------------------------

.section-content {
	//padding: rem(96) rem(0);
	@include adaptiveValue("padding-top", 96 , 60, 0, 1200, 320);
	@include adaptiveValue("padding-bottom", 96 , 60, 0, 1200, 320);
}

//====================================== cтили БЭМ-блоков ==========================================

.section-title {
	// .section-title__wrapper
	&__wrapper {
		width: 100%;
		max-width: rem(575);
		@media (max-width:em($mobile)){
			 text-align: center;
			 margin: 0 auto; 
		}
	}
	// .section-title__label
	&__label {
		display: inline-block;
		height: rem(32);
		margin-bottom:  rem(25);
		padding: rem(0) rem(52);
		background: url('@img/icons/hatch.png') center center/contain no-repeat;
	}
	// .section-title__title
	&__title {
		margin-bottom:  rem(20);
	}
	// .section-title__subtitle
	&__subtitle {
	}
}

.advanteges {
	// .advanteges__item
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
	gap: rem(20);
	&__item {
		display: flex;
		gap: rem(10);
		align-items: center;
		
		@media (max-width:em($mobile)){
			justify-content: center;
		}

	}
	// .advanteges__icon
	&__icon {
		//position: relative;
		width: rem(50);
		height: rem(50);
		border-radius: 50%;
		background-color: $background-color-other-1;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		justify-content: center;
		color: $text-color-other1;
		font-size: rem(28);
		& img{
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
		}
	}
	// .advanteges__text
	&__text {
	}
	// .advanteges__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 16, 14, 0, 1200);
		line-height: math.div(26 , 16);
		color: $text-color-other-2;
	}
	// .advanteges__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 14, 12, 0, 1200);
		line-height: math.div(24 , 14);
		color: $text-color-major;
	}
}


// ------------------------------- стили повторяющихся текстовых элементов --------------------------------------------------.
.section-title-label-text {
	font-weight: 600;
	font-size: rem(14);
	line-height: rem(32);
	color: $text-color-secondary;
	text-transform: uppercase;
}

.section-title-text {
	font-family: 'Audiowide';
	@include adaptiveValue("font-size", $font-size-section-title-pc, $font-size-section-title-mob, 0, 1200);
	line-height: math.div(55 , 45);
	color: $text-color-accent;
}

.section-subtitle-text {
	@include adaptiveValue("font-size", $font-size-section-subtitle-pc, $font-size-section-subtitle-mob, 0, 1200);
	line-height: math.div(26 , 16);
	color: $text-color-major;
}








// ------------------------------- стили типовых БЛОКОВ --------------------------------------------------


.site-logo {
	//width: 100%;
	//@include adaptiveValue("width", 180 ,130, 0, 1200);
	//@include adaptiveValue("height",40 , 35, 0, 1200);
	//border-radius: 10px;
	//flex: 0 1 auto;
	// .site-logo__item
	&__link {

	}
}


.socials__link {
	position: relative;
	display: inline-block;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}






// ------------------------------- стили keyframes --------------------------------------------------

@keyframes stars_rotate {
	from { transform: translate(-50%, -50%) rotate(0deg) ; }
	to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes opacity_fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes opacity_fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes ripplesAnimate {
	0% {
		width: 0;
		height: 0;
		opacity: .5;
	}
	100% {
		width: 600px;
		height: 600px;
		opacity: 0;
	}
}

@keyframes tilt {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(-20deg);
	}
	40% {
		transform: rotate(20deg);
	}
	55% {
		transform: rotate(-15deg);
	}
	70% {
		transform: rotate(15deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	90% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes shake {
	0%, 12% {
		transform: translate3d(0, 0, 0);
	}
	10%, 2%, 6% {
		transform: translate3d(-3px, 0, 0);
	}
	4%, 8% {
		transform: translate3d(3px, 0, 0);
	}
}

@keyframes shake2 {
	0%, 8% {
		transform: translate3d(0, 0, 0);
	}
	2%, 6% {
		transform: translate3d(-1px, 0, 0);
	}
	4% {
		transform: translate3d(1px, 0, 0);
	}
}

@keyframes breathe {
	0% {
		transform: scale(1);
	}

	40% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.01);
	}
	60% {
		transform: scale(1.0);
	}
	70% {
		transform: scale(1.005);
	}
	80% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes waves {
	0% {
		transform: translate3d(0, 0, 0);
	}
	50% {
		transform: translate3d(-5px, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes rotate {
	0% {
		transform: rotatez(0deg);
	}

	100% {
		transform: rotatez(360deg);
	}
}

@keyframes jump {
	0% {
	}


	50% {
		transform: scale(1.1);
		background-color: $background-color-major;
	}

	100% {
	}
}
