[data-fullscreen] {
	min-height: 100vh;
	
	.touch & {
		min-height: -webkit-fill-available;
		min-height: calc(var(--vh, 1vh) * 100);
		@media (max-width: em($mobile)) {
			transition: height 0.2s;
		}
	}
}
