//v1 170222 - стили дефолт
//v2 260622 - стили дефолт
//v3 190822 - стили дефолт

//---------------------------- ▼ ▼ ▼ BURGER ▼ ▼ ▼ -------------------------------

//----------------------BURGER MENU ACTIVE-------------------------

.menu {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	@include adaptiveValue("margin-left",30 , 15, 0, 1200 );
	@include adaptiveValue("max-width",50 , 40, 3, 1200 );
	@media (max-width: rem(1200)) {
		order: 3;
	}
	&__icon {
		display: none;
		position: relative;
		@include adaptiveValue("height",30 ,20, 0, 1200);
		@include adaptiveValue("width",50 , 40, 0, 1200);
		cursor: pointer;
		transition: all 0.2s ease;
		@media (max-width: rem(1200)) {
			display: block;
			order: 3;
			z-index: 100;
			&._active {
				transition: all 0.5s ease;
				& span {
					opacity: 0;
					background: $background-color-other-1;
				}
				&::before {
					top: 40%;
					transform: rotate(-45deg);
					background: $background-color-other-1;
				}
				&::after {
					top: 40%;
					transform: rotate(45deg);
					background: $background-color-other-1;
				}
			}
		}
		& span,
		&::before,
		&::after {
			content: "";
			position: absolute;
			display: inline;
			left: 0;
			width: 100%;
			height: rem(2);
			background: $text-color-secondary;
			border-radius: 2px;
			opacity: 1;
			transition: all 0.2s ease ;
			@media (max-width:$mobileSmall){
				height: rem(1);
			}
		}
		&::before {
			top: 1px;
		}
		&::after {
			top: 100%;
			transform: translate(0, -100%);
		}
		& span {
			top: 53%;
			transform: translate(0, -50%);
		}
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: $text-color-secondary;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
		@media (max-width: rem(1200)) {
			position: fixed;
			justify-content: center;
			text-align: center;
			top: 0%;
			right: rem(-$menu-width);
			width: 100%;
			max-width: rem($menu-width);
			height: 100vh;
			background: $background-color-menu;
			text-shadow: none;
			border-left: $border-color-other-3 2px solid;
			overflow: auto;
			z-index: 99;
			transition: transform 0.2s ease;
			&._active {
				transform: translateX(rem(-$menu-width));
				color: $text-color-major;
				& ._navigator-active {
					background-color: rgba($color: $background-color-secondary, $alpha: 1);
					color: $text-color-secondary;
					border: 2px solid transparent;
				}
			}
		}
	}

	&__list {
		position: relative;
		display: flex;
		flex: 0 1 1100px;
		flex-wrap: wrap;
		justify-content: space-evenly;
		@media (max-width: rem(1200)) {
			flex-direction: column;
			flex-wrap: nowrap;
			padding: rem(50) rem(0);
			max-width: rem(600);
			text-transform: uppercase;
		}
	}

	&__item {
		display: inline-block;
		text-align: center; //устраняет скачек контента при смене fontsize на ховере
		font-size: 0; //устраняет скачек контента при смене fontsize на ховере
		line-height: math.div(22 , 22);
		@media (max-width: rem(1200)) {
			padding: rem(10);
		}
	}

	&__link {
		position: relative; //smooth marker underline menu__link
		display: inline-block;
		padding: rem(5);
		margin: rem(0) rem(5);
		@include adaptiveValue("font-size",$font-size-menu-links-pc ,$font-size-menu-links-mob, 0, 1920, 1200 ); 
		line-height: math.div( $font-size-menu-links-pc, $font-size-menu-links-pc);
		letter-spacing: 0.02em;
		font-weight: 500;
		border: 2px solid transparent;
		border-radius: 7px;
		transition: transform .3s ease;
		transition: border .2s;
		@media (any-hover: hover){
			&:hover{
				border: 2px solid $border-color-major;
				transition: border .2s;
				@media (max-width:$tablet){
					background-color: rgba($color: $background-color-other-1, $alpha: 1);
					color: $text-color-secondary;
				}
			}
		}
		@media (any-hover: none){
			&:hover,
			&:active,
			&.active {
				background-color: rgba($color: $background-color-other-1, $alpha: 1);
				color: $text-color-secondary;
			}
		}
		/*
		&::after{
			display: block; //устраняет скачек контента при смене fontsize на ховере
			content: attr(title); //устраняет скачек контента при смене fontsize на ховере
			font-weight: 600; //устраняет скачек контента при смене fontsize на ховере
			height: 0; //устраняет скачек контента при смене fontsize на ховере
			overflow: hidden; //устраняет скачек контента при смене fontsize на ховере
			visibility: hidden; //устраняет скачек контента при смене fontsize на ховере
		}
		*/
		@media (max-width: rem(1200)) {
			font-size: rem(22);
			color: $text-color-menu;
		}
	}
}


