// v4 190822 общая ревизия

//========================== ПОДКЛЮЧЕНИЕ МОДУЛЕЙ BASE ===============================

@import "base/null.scss";  // Обнуление и общие параметры
@import "base/common"; // Подключение стилей общих элементов проекта, секций, блоков, КЕЙФРЕЙМЫ
@import "base/menuBurger"; // Стили Бургера
@import "base/forms/forms"; // Общий файл элементов форм. Для подключения/отключения стилей конкретного єлемента формы смотри base/forms/forms.scss
@import "base/buttons"; //стили кнопок
@import "base/popup"; // Стили попапов
//@import "base/breadcrumbs"; // Стили хлебных крошек
//@import "base/spollers"; // Стили спойлеров
//@import "base/tabs"; // Стили табов
//@import "base/maps"; // Стили карт
//@import "base/showmore"; // Стили блока "показать еще"
//@import "base/fullscreen"; // Стили для полноэкранного блока
//@import "base/sticky"; // Стили для липкого блока






//========================== ГЛОБАЛЬНЫЕ СТИЛИ ===============================

html {
	//height: calc(var(--vh, 1vh) * 100);
	//	width: 100vw;
	//position: fixed;
}

body {
	height: calc(var(--vh, 1vh) * 100);
	min-height: -webkit-fill-available;

//--------------for fullscreen-----------------
	//width: 100vw;
	//position: fixed;
	//min-height: 100vh;

//--------------universal overlay-----------------
	&::after {
		content: "";
		background-color: $background-color-overlay-lock;
		backdrop-filter: blur(10px);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: all 0.2s ease;
		pointer-events: none;
		z-index: $overlayZindex;
		overflow: hidden;
	}
	.lock.loaded &::after{
		//opacity: 0;
		//transition: opacity 0.2s ease;
	}


	// Скролл заблокирован
	&._preloader {
		overflow: hidden;
	}

	//добавить :not(.touch) для отключения на моб устройствах
	.lock.loaded & {
		overflow: hidden;
		touch-action: none;
	}
	.lock.loaded:not(.touch) & {
		padding-right: calc($scrollbarWidth + 0px) !important; // общая коррекция контента на скролл при модалке/меню
		& header {
			padding-right: calc( $scrollbarWidth + 0px) !important; // коррекция хедера на скролл при модалке/меню если header position fixed ил relative
		}
	}
}
// Оболочка =======================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: $background-color-major;
	position: relative;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
		z-index: 1;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

//========================== СТИЛИ КОНТЕЙНЕРОВ ===============================*/

//(i) Стили будут применяться ко 
//всем классам содержащим *__container
//Например header__container, main__container и т.д.
//Снипет (HTML): cnt


@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__outerContainer"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: border-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
	[class*="__innerContainer"] {
		@if ($innerWidthContainer>0) {
			max-width: rem($innerWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__outerContainer"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: border-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		//--------------------------------------------MD 1: $mw + 20;--------------------------------------
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		//-----------------------------------------------MD 2: 991.98----------------------------------------------
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		//-----------------------------------------------MD 3: 767.98-----------------------------------------------
		@media (max-width: $mobile) {
			max-width: rem(540);
		}
		//-----------------------------------------------MD 4: 576.98-----------------------------------------------
		@media (max-width: $mobileSmall) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
	[class*="__innerContainer"] {
		@if ($innerWidthContainer>0) {
			max-width: rem($innerWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
	}
}



//========================== СТИЛИ ВСПОМОГАТЕЛЬНЫХ КЛАССОВ ===============================
 
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)

[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg-contain"] {
	img {
		object-fit: contain;
	}
}

// Шаблоны (заготовки)
// @extend %имя шаблона;
// Сниппет (SCSS): ex

// Счетчик для списка
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
// Адаптивное видео
%responsiveVideo {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// Видео в качестве фона
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
// Серый фильтр
%grayfilter {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	@media (any-hover: hover) {
		&:hover {
			filter: grayscale(0);
		}
	}
}
// Отменить выделение
%noselect {
	user-select: none;
}
// Зеркальное отображение
%mirror {
	transform: scale(-1, 1);
}
// Плавный скролл
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
// Скрыть скролл
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
