// v4 190822 общая ревизия

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	z-index: 10;
	// .header__outerContainer
	&__outerContainer {
	}
	// .header__content
	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("height",$header-height-pc ,$header-height-mob, 0, 768, 320 );
		overflow: visible;
	}
	
	// .header__logo
	& .header__logo .site-logo__item {
		background:  url("@img/logo_GMA_full_redwhite.png") 0% 50% / contain no-repeat;

	}
	// .header__menu
	&__menu {
		&:not(:last-child) {
		}
	}
	// .header__links
	&__links {
	
	}
}



.header-links {
	flex: 0 0 auto;
	align-content: center;
	&:not(:last-child) {
	}
	@media (max-width: 1200px){
		margin-left: auto;
	}
	// .header-links__list
	&__list {
		display: flex;
		margin-left: rem(15);
	}
	// .header-links__item
	&__item {
		display: inline-block;
		&:not(:last-child) {
			@include adaptiveValue("margin-right",20 , 10, 0, 768);
		}
	}
	.socials__link {
		@include adaptiveValue("width",40 ,25, 0, 1200,320 );
		height: 100%;
		border-radius: 7px;
		border: $background-color-major 2px solid;
		transition: transform .2s;
		@media (max-width:$mobile){
			border-width: 1px;    
		}
		&:hover{
			transform: scale(1.1);
			transition: transform .2s ;
		}
		& img {
			&.icon_reg{
				display: inline-block;
				
			}
			&.icon_scrl{
				display: none;
			}
		}
	}
	// .header-links__lang
	&__lang {

	}
}


.lang {
	position: relative;
	@include adaptiveValue("height",40 ,25, 0, 1200,320);
	vertical-align: middle;
	border: 2px solid $border-color-button;
	border-radius: 7px;
	@media (max-width:$mobileSmall){
		border-width: 1px;
	}
	&::before{
		content:'';
		position: absolute;
		width: 1px;
		height: 50%;
		top: 50%;
		left: 50%;
		background-color: $background-color-major;
		transform: translate(-50%, -50%);
	}
	// .lang__icon
	&__icon {
		vertical-align: middle;
		display: inline-flex;
		justify-content: center;
		@include adaptiveValue("width",40 ,23, 0, 1200,320);
		height: 100%;
		@include adaptiveValue("font-size", 20, 12, 0, 1200, 320 );
		text-transform: uppercase;
		color: $text-color-secondary;
		cursor: pointer;
		& a {
			height: 100%;
		}
		& span {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			transition: transform .2s;
		}
		&:hover {
			span{
				transform: scale(1.1);
				transition: transform .2s ;
				
			}
		}
		@media (max-width:$mobileSmall){
			border-width: 1px;
			border-radius: 4px;
		}
	}
}


._header-scroll {
	background-color: rgba($color: $background-color-major, $alpha: .8);
	backdrop-filter: blur(10px);
	border-bottom: 1px solid $background-color-secondary;
	& .header__logo .site-logo__item {
		background:  url("@img/logo_GMA_full.png") 0% 50% / contain no-repeat;
	}
	& .socials__link {
		border: $background-color-secondary 2px solid;
		@media (max-width:$mobile){
			border-width: 1px;  
		}
		& img {
			&.icon_reg{
				display: none;
			}
			&.icon_scrl{
				display: inline-block;
			}
		}
	}

	& .header__lang  {
		border-color: $background-color-secondary;
		& span {
			color: $text-color-major;
		}
		&::before{
			background-color: $background-color-secondary;
		}
	}
	& .menu {
		&__body {
			color: $text-color-links;
		}
		&__link {
			text-shadow: none;
			transition: color .2s, background-color .2s;
			&:hover,
			&:active,
			&.active {
				background-color: rgba($color: $background-color-secondary, $alpha: 1);
				color: $text-color-secondary;
				border: 2px solid transparent;
			}
		}
		&__icon {
			& span,
			&::before,
			&::after {
				background: $background-color-other-1;
			}
		}
	}
}

