//v3 190822 общая ревизия
//v4 120922 new MD


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	z-index: 10;
	// .header__outerContainer
	&__outerContainer {

	}
	&__innerContainer {

	}
	// .header__content
	&__content {
		position: relative;
		display: flex;
		width: 100%;
		@include adaptiveValue("height",$header-height-pc ,$header-height-mob, 0, 768, 320 );
		align-items: center;
		transition: height .2s ;
	}
	// .header__item
	&__item {
		height: 100%;
		max-height: rem(40);
		&:not(:last-child) {
			
		}
		// .header__item_log
		&_logo {
		}
		// .header__item_menu
		&_menu {
			@include adaptiveValue("margin-right",60 ,30, 1, 1920, 991.98 );
			@include adaptiveValue("margin-left",60 ,30, 0, 1920, 991.98 );
			@include adaptiveValue("margin-left",40 ,20, 3, 991.98 );
		}
		// .header__item_search
		&_search {
			display: flex;
			align-items: center;
			padding: 0 10px;
			cursor: pointer;
			@include adaptiveValue("margin-right",30 ,10, 0, 991.98 );
			color: $text-color-secondary;
			transition: color .2s ease;
			&:before {
				font-size: rem(25);
				
			}
			@media (any-hover: hover){
				&:hover {
					color: $text-color-btn-2;
					transition: color .2s ease;
				}
			}
			& form {
				display: flex;
				flex-wrap: nowrap;
				position: absolute;
				width: rem(200);
				height: rem(40);
				bottom: -50px;
				right: 0;
				background-color: $input-background-color;
				border-bottom: 2px solid $border-color-button;

				& input {
					height: 100%;
					width: 100%;
					padding: rem(0) rem(7);
					color: $input-color;
				}
				& button {
					//background-color: $background-color-button-secondary;
					padding: rem(0) rem(7);
					vertical-align: middle;
					&:before {
						color: $text-color-major;
					}
				}
			}

		}
		// .header__item_button
		&_button {

		}
	}
}
.site-logo {
	height: 100%;
	
	@media (max-width: em($tablet)){
		width: 100%;  
	}
	// .site-logo__link
	&__link {
		position: relative;
		display: inline-block;
		width: rem(120);
		height: 100%;
		& img {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}
}
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		text-align: center;
		&::before{
			content:'';
			position: absolute;
			width: 0%;
			height: rem(2) ;
			bottom: 0;
			left: 0;
			background-color: $background-color-menu;
			transition: width .3s ease;
		}
		@media (any-hover: hover){
			&:hover::before{
				width: 100%;
				transition: width .3s ease;
			}
		}
	}
}
.icon-menu {
}
.search {
}
.header__item_button {
	@media (max-width:em(450)){
		& span {
			display: none;
		} 
	}
	@media (any-hover: hover){
		&:hover{
		color: $text-color-btn-2;
		background-color: rgba($color: $background-color-button-secondary, $alpha: 1);
		}
	}
	// .header-btn__rect
	& .btn__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: rem(30);
		width: rem(30);
		background-color: $background-color-button-major;
		color: $text-color-secondary;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
		@media (max-width:em(450)){
			display: none;
		}
	}
	// .header-btn__title
	&__title {

	}
}



._header-scroll {
	background-color: rgba($color: #000000, $alpha: .4);
	backdrop-filter: blur(5px);
	.header {
		&__content {
			height: rem(60);
			//@include adaptiveValue("height",70 ,50, 0, 768, 320 );
			transition: height .2s ;
		}
	}

}

