//v1 120922 new MD

//====================================================================================================

.hero {
	height: 100%;
	background: url('@img/hero_bg.jpg') 65% top/cover no-repeat;
	// .hero__outerContainer
	&__outerContainer {
	}
	// .hero__innerContainer
	&__innerContainer {
	}
	// .hero__content
	&__content {
		display: flex;
		align-items: center;
		max-height: rem(1000);
		height: 100vh;
		min-height: 550px;
		@include adaptiveValue("padding-top",$header-height-pc ,$header-height-mob, 0, 1200);
		@include adaptiveValue("padding-bottom",$header-height-pc ,$header-height-mob, 0, 1200, 767.98);
		@media (max-width:em($mobileSmall)){
			align-items: flex-end;
			justify-content: center;
		}
	}
	// .hero__offer
	&__offer-hero {
	}
}

.offer-hero {
	position: relative;
	max-width: rem(505);
	width: 100%; 
	padding: rem(50) rem(0);
	@include adaptiveValue("padding-left",0 ,50, 1, 1200, 578);
	@media (max-width:em($mobileSmall)){
		text-align: center; 
	}
	&__text {
		&:not(:last-child) {
			margin-bottom:  rem(60);
			@media (max-width:em($mobile)){
				margin-bottom:  rem(40);
			}
		}
	}
	
	&__title,
	&__subtitle {
		display: block;
		color: $text-color-secondary;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	}
	// .offer__title
	&__title {
		font-family: 'Audiowide';
		font-weight: 400;
		line-height: math.div(70 , 55);
		@include adaptiveValue("font-size", $font-size-main-title-pc, $font-size-main-title-mob, 0, 1200);
		&:not(:last-child) {
			margin-bottom:  rem(30);
		}
	}
	// .offer__subtitle
	&__subtitle {
		color: $text-color-major;
		line-height: math.div(26 , 16);
		@include adaptiveValue("font-size", $font-size-section-subtitle-pc, $font-size-section-subtitle-mob, 0, 1200);
	}
	// .offer__button
	&__button .btn_hero{
		padding: 0 rem(24);
		text-transform: uppercase;	
	}
}

.btn {
	// .btn_hero
	&_hero {
	}
}

//--------------about-----------------


.about {
	// .about__outerContainer
	&__outerContainer {
	}
	// .about__innerContainer
	&__innerContainer {
	}
	// .about__content
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: rem(60);
		row-gap: rem(40);
		flex-wrap: wrap;
		@media (max-width:em($mobile)){
			 justify-content: center; 
		}
	}
	// .about__column
	&__column {
		flex: 1 1 45%;
		@media (max-width:em($mobile)){
			flex: 1 1 100%;
		}
		// .about__column_left
		&_left {
			max-width: rem(492);
		}
		// .about__column_right
		&_right {
		}
	}
	// .about__img-wrapper
	&__img-wrapper {
		position: relative;
		max-width: rem(492);
		width: 100%;
	}
	// .about__img
	&__img {
		padding-bottom: percent(470, 492);
		& img{
			position: absolute;
			top: 0;
			right: 0;
			max-width: 100%;
			max-height: 100%;
			z-index:	5;
		}
	}
	&__img-el-wrapper {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__img-bg {
		& img{
			max-width: 100%;
			max-height: 100%;
			z-index:	1;
		}
		@media (any-hover: hover){
				.about__img-wrapper:hover &::after {
					animation: rotate 2.5s infinite linear .0s;
				}
		}
		

		&::after{
			content: '';
			display: block;
			position: absolute;
			top: percent(30, 413);
			left: percent(30, 408);
			width: percent(85, 413);
			height: percent(85, 408);
			background: url('@img/yellow_dots.png') 0 0/cover no-repeat;
			transition: transform .5s;
		}
	}
	&__img-waves{
		position: absolute;
		top: percent(210, 413);
		left: percent(20, 408);
		width: percent(106, 413);
		& .waves__item {
			width: 100%;
			height: rem(12);
			background: url('@img/icons/shape_wave.svg') 0 0/cover no-repeat;
			
			&_top	{
				animation: waves 1.5s infinite .4s;
			}
			&_middle	{
				animation: waves 1.5s infinite ;
			}
			&_bottom	{
				animation: waves 1.5s infinite .9s;
			}
		}
	}
	// .about__text
	&__text {
	}
	// .about__title
	&__title {
		&:not(:last-child) {
			margin-bottom:  rem(35);
		}
	}
	// .about__advanteges
	&__advanteges {
	}
}

//--------------offer-----------------
.offer {
	background-color: $background-color-secondary;
	// .offer__outerContainer
	&__outerContainer {
	}
	// .offer__innerContainer
	&__innerContainer {
	}
	// .offer__content
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: rem(40);
		row-gap: rem(40);
		flex-wrap: nowrap;
		@media (max-width:em($mobile)){
			 justify-content: center; 
			 flex-wrap: wrap;
		}
	}
	// .offer__column
	&__column {
		//flex: 0 0 50%;
		//overflow: hidden;

		// .about__column_left
		&_left {
			flex: 0 0 45%;
			@media (max-width:em($mobile)){
				flex: 1 0 100%;
			}

		}
		// .about__column_right
		&_right {
			margin-right: rem(-15);
			padding-right:  rem(15); 
			overflow: hidden;
			@media (min-width:em(1110)){
				flex: 0 0 calc(100vw  - (((100vw - 1110px + 30px) / 2 ) + (1110px * .45) + 35px)); 
			}
		}
	}
	// .offer__text
	&__text {

	}
	// .offer__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(36);
		}
	}
	// .offer__slider-nav
	&__slider-nav {
		display: flex;
		flex-wrap: nowrap;
		column-gap: rem(30);
		@media (max-width:em($mobile)){
			 justify-content: center; 
		}
	}
	// .offer__slider
	&__slider {
		margin-right: rem(-15);
		padding-right:  rem(15); 
	}
	// .offer__wrapper
	&__wrapper {

	}
	// .offer__slide
	&__slide {
		max-width: 290px;
	}
	// .offer__card
	&__card {
		//width: 285px;
	}
}

.slider-nav-item {
	width: rem(65);
	height: rem(50);
	border: 0.5px solid $border-color-major;
	color: $text-color-other1;
	transition: background-color .2s ease, color .2s ease;
	@media (any-hover: hover){
		&:hover{
			background-color: $background-color-button-major;
			color: $text-color-secondary;
			transition: background-color .2s ease, color .2s ease;
		}
	}
	// .slider-nav__prev
	&_prev {
		border-bottom-right-radius: 10px;
		transform: rotateZ(180deg);
	}
	// .slider-nav__next
	&_next {
		border-bottom-right-radius: 10px;
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.offer-card {
	position: relative;
	width: 290px;
	height: 355px;
	overflow: hidden;
	@media (any-hover: hover){
		&:hover{
			.offer-card__img-ibg {
				transform: scale(1.03);
				transition: transform .3s ease;
				&::before{
					opacity: 1;
					transition: opacity .3s ease;
				}
			}
			&::before,
			&::after {
				transform: rotate(52deg) translateX(-10px);
				transition: transform .3s ease;
			}
			.offer-card__title{
				opacity: 1;
				transition: opacity .3s ease;
			}
		}
	}
	&::after,
	&::before{
		content:'';
		position: absolute;
		display: inline-block;
		border-radius: 10px;
		width: 100%;
		height: 100%;
		transform-origin: 0 0;
		transform: rotate(47deg);
		transition: transform .3s ease;
	}
	&::after{
		top: percent(146, 355);
		left: percent(198, 290);
		border: 10px solid rgba($color: $border-color-major, $alpha: .85);
		z-index: 1;
	}
	&::before{
		top: percent(155, 355);
		left: percent(200, 290);
		background-color: rgba($color: #fff, $alpha: .85);
		z-index: 2;


	}

	// .offer-card__title
	&__title {
		position: absolute;
		display: inline-block;
		width: auto;
		height: auto;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: 'Audiowide';
		font-weight: 600;
		font-size: rem(26);
		line-height: rem(32);
		color: $text-color-secondary;
		text-transform: uppercase;
		z-index: 2;
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s ease;
		@media (max-width:em($tablet)){
			 opacity: 1; 
		}
	}

	// .offer-card__img-ibg
	&__img-ibg {
		transition: transform .2s ease;
		&::before{
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba($color: #000000, $alpha: .4);
			z-index: 1;
			opacity: 0;
			pointer-events: none;
			transition: opacity .3s ease;
			@media (max-width:em($tablet)){
				opacity: 1; 
			}
		}
	}
	// .offer-card__text
	&__text {
		position: absolute;
		max-width: rem(180);
		max-height: rem(130);
		bottom: rem(15);
		right: rem(25);
		z-index: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		width: 100%;
	}
	// .offer-card__icon
	&__icon {
		font-size: rem(29);
		color: $text-color-other1;
		&:not(:last-child) {
			margin-bottom: rem(18);
		}
	}
	// .offer-card__schedule
	&__schedule {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .offer-card__button
	&__button {
	}
}
.card-schedule {
	& > * {
		display: inline-block;
	}
	// .card-schedule__icon
	&__icon {
		

	}
	// .card-schedule__text
	&__text {

	}
}

.btn {
	// .btn_offer-card
	&_offer-card {
		color: $text-color-other1;
		background-color: transparent;
		@media (any-hover: hover){
			&:hover{
				background-color: $background-color-button-major;
				color: $text-color-secondary;
			}
		}
	}
}

// -------- classes ---------

.classes {
	// .classes__outerContainer
	&__outerContainer {
	}
	// .classes__innerContainer
	&__innerContainer {
	}
	// .classes__content
	&__content {
		display: flex;
		//justify-content: space-between;
		align-items: center;
		column-gap: rem(100);
		@include adaptiveValue("column-gap", 100, 50, 0, 1200, 768 );
		row-gap: rem(40);
		@media (max-width:em($mobile)){
			flex-wrap: wrap;
			justify-content: center; 
		}
	}
	// .classes__column
	&__column {
		flex: 1 1 50%;
		@media (max-width:em($mobile)){
			flex: 1 1 100%;
		}
		// .classes__column_left
		&_left {
			max-width: rem(402);
			padding-left: rem(11);
			width: 100%;
			
		}
		// .classes__column_right
		&_right {

		}
	}
	// .classes__img-wrapper
	&__img-wrapper {
		position: relative;
		// @media (any-hover: hover){
		// 	&:hover .classes__circle_biggest {
		// 		transform: translateX(20%) translateY(-30%) ;
		// 		background-color: $background-color-secondary;
		// 		transition: transform .5s ease;
		// 	}
		// }
		&::after{
			content:'';
			position: absolute;
			width: 104%;
			height: 104%;
			top: -1%;
			left: -6%;
			//background-color: $background-color-other-3;
			border-radius: 223.5px;
			border: 1px solid $border-color-major;
			z-index: -1;
		}
	}
	// .classes__img
	&__img {
		position: relative;
		padding-bottom: percent(505, 391);
		background: $background-color-other-2;
		box-shadow: -11px 8px 0px $border-color-major, -45px -15px 135px 15px rgba(0,0,0,0.55) inset;
		border-radius: 223.5px;
		overflow: hidden;
		& img {
			position: absolute;
			max-width: 100%;
			max-height: 100%;
			bottom: 0;
			left: 55%;
			transform: translate(-50%, 0);
		}

	}

		// .classes__circles
		&__circles {
		}
		// .classes__circle
		&__circle {
			position: absolute;
			background-color: $background-color-menu;
			border-radius: 50%;
			// .classes__circle_biggest
			&_biggest {
				top: percent(403, 505);
				left: percent(38, 391);
				width: rem(38);
				height: rem(38);
				animation: jump 2s infinite ease-in-out;
			}
			// .classes__circle_2
			&_2 {
				top: percent(370, 505);
				left: percent(15, 391);
				width: rem(32);
				height: rem(32);
				animation: jump 2s .2s infinite ease-in-out;
			}
			// .classes__circle_3
			&_3 {
				top: percent(340, 505);
				left: percent(4, 391);
				width: rem(26);
				height: rem(26);
				animation: jump 2s .4s infinite ease-in-out;
			}
			// .classes__circle_4
			&_4 {
				top: percent(314, 505);
				left: percent(0, 391);
				width: rem(20);
				height: rem(20);
				animation: jump 2s .6s infinite ease-in-out;
			}
			// .classes__circle_5
			&_5 {
				top: percent(292, 505);
				left: percent(0, 391);
				width: rem(14);
				height: rem(14);
				animation: jump 2s .8s infinite ease-in-out;
			}
			// .classes__circle_smallest
			&_smallest {
				top: percent(276, 505);
				left: percent(0, 391);
				width: rem(8);
				height: rem(8);
				animation: jump 2s 1s infinite ease-in-out;
			}
		}
		// .classes__dots
		&__dots {
			position: absolute;
			top: percent(51, 505);
			right: percent(26, 391);
			width: percent(88, 391);
			height: percent(135, 505);
			background: url('@img/grey_dots.png') 0 0/contain no-repeat;
		}
	// .classes__text
	&__text {
	}
	// .classes__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(36);
		}
	}
	// .classes__advanteges
	&__advanteges {
	}
}

//--------------trainers-----------------

.trainers {
	background-color: $background-color-secondary;
	// .trainers__outerContainer
	&__outerContainer {
	}
	// .trainers__innerContainer
	&__innerContainer {
	}
	// .trainers__content
	&__content {

	}
	// .trainers__row
	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		// .trainers__row_top
		&_top {
			text-align: center;
			&:not(:last-child) {
				margin-bottom:  rem(40);
			}
		}
		// .trainers__row_bottom
		&_bottom {

		}
	}
	// .trainers__text
	&__text {
	}
	// .trainers__title
	&__title {
	}
	// .trainers__cards
	&__cards {
		max-width: rem(920);
	}
	// .trainers__card
	&__card {
	}
}

.trainers-card {
	
	// .trainers-card__wrapper
	&__wrapper {

	}
	// .trainers-card__photo
	&__photo {
		margin-top: rem(-25);
		padding-left: rem(40);
		& img {
			padding-top: rem(25);
		}
	}
	// .trainers-card__text
	&__text {
		width: 100%;
		margin-top: rem(-57);
		text-align: center;
	}
	// .trainers-card__name
	&__name {
		height: rem(46);
		line-height: 46px;
		font-weight: 600;
		color: $text-color-secondary;
		background: url('@img/icons/hatch.svg') center center/contain no-repeat;
		&:not(:last-child) {
			margin-bottom:  rem(5);
		}
	}
	// .trainers-card__position
	&__position {
		&:not(:last-child) {
			margin-bottom:  rem(10);
		}
	}
	// .trainers-card__socials
	&__socials {

	}
}


